.container{
  max-width: 1140px;
  padding-left: 100px;
  padding-right: 100px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.nav{
  display: flex;
}

.nav-img{
  margin-right: auto;
  margin-top: 75px;

}

.nav-ul a{
  text-decoration: none;
  color: #000;
  opacity: 0.9;
}

.nav-ul li{
  display: inline-block;
  list-style: none;
  margin-right: 45px;
  text-transform: uppercase;





}

.nav-ul{
  display: inline-block;
  display:flex;
  margin-top: 60px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;

}

.li{
  display:block;


}


.li a{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  border-radius: 15px;
  color: #242A45;

}

.nav-ul-li-a{
  display: inline-block;
  width: 111px;
  height: 40px;
  background-color:#5267DF;
  color: #242A45;

}

.bolim-text{
  max-width: 540px;

}

.bolim-text h2{
  text-transform: uppercase;

  font-family:"Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  color: #242A45;

}

.bolim-text p{
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #242A45;
  opacity: 0.7;


}

.bravuzer{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.bravuzer li{
  list-style: none;

}

.bravuzer a{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;

}


.chrome{
  display: inline-block;
  width:166px;
  height: 48px;
  background-color: #5267DF;
  color:#fff;


  text-decoration: none;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;

}

.firefox{

  display: inline-block;
  width:166px;
  height: 48px;
  background-color: rgb(218, 214, 214);;
  color:#000;


  text-decoration: none;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;

}

.bolum{
  display: flex;
  margin-top: 127px;

}

.bolum-img{
  padding: 0;
  display: flex;
  padding-left: 20px;
}

.imgg{
  z-index: 5;
}

.img{
  background-image: url("../img/background-img.svg");
  width: 700px;
  position:absolute;
  height: 352px;
  z-index: 1;
  background-size: cover;


}

.text h2{
  text-align: center;
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  color: #242A45;
}

.text p{
  text-align: center;
  width:550px;
  height:60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: #242A45;

}

.google{
  text-align: center;
  display: inline-block;
  width: 280px;
  height: 370px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #242A45;
  margin-right: 35px;
  box-shadow: 5px 5px 5px 1px #ccc;

}


.brauer__item{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;

}


.brauer{
  margin-top: 45px;
  width: 991px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;


}

.div{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-end;
	align-content: center;
  border-radius: 15px;
  color: #242A45;
}

.google_img{
  margin-top: 45px;
  margin-bottom: 32px;
}


.div a{
  text-decoration: none;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  border-radius: 5px;
  color: #242A45;
}

.a{
  display: inline-block;
  width: 231px;
  height: 48px;
  background-color:#5267DF;
  color: #242A45;
}



/*-----------------------------------------------------------------------------------------*/

.google__firefox{
  text-align: center;
  display: inline-block;
  width: 280px;
  height: 370px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin-top: 45px;
  color: #242A45;
  margin-right: 35px;
  box-shadow: 5px 5px 5px 1px #ccc;

}




/*---------------------------------------------------------------------------------*/

.google_opera{
  text-align: center;
  display: inline-block;
  width: 280px;
  height: 370px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin-top: 90px;
  color: #242A45;
  box-shadow: 5px 5px 5px 0px #bbb;

}

.google_tile{
  display: block;
  margin-top: 30px;
  text-align: center;
  opacity: 0.7;


}

.google_text{
  margin-right: 0px;
  opacity: 0.7;

}

.feature{
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}


.feature__title{
  display: inline-block;
  text-align: center;
  width: 349px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  color: #242A45;
}

.feature__text{
  display: inline-block;
  text-align: center;
  width: 540px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #242A45;
}




